.addthis_inline_share_toolbox_d5yy{
    padding-top:19px;
    padding-right:40px;
}
.addthis_inline_share_toolbox{
    padding-top:16px;
    padding-left:40px;
}
#user-info a{
    padding-left:25px;
    padding-right:25px;
}
#user-info a i{
    padding-right:15px;
}
#user-info .dropdown-menu li a i{
    padding-right:40px;
}
#user-info .dropdown-menu li:nth-last-child(1) a i{
    padding-right:60px;
}
#user-info .dropdown-menu{
    width: 100%;
}
#user-info a b.caret{
    margin-left: 10px;
    border-top: 7px solid #9d9d9d;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
#first-nav{
    z-index: 9999;
    margin:0;
    height:58px;
}
#second-nav{
    min-height: auto;
}
#second-nav li a{
    padding: 15px 20px;
}
#search-post{
    margin:0;
    padding-top: 10px;
}
@media screen and (max-width: 767px) {
    #first-nav #user-info ul{
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        min-width: 160px;
        padding: 5px 0;
    }
    #first-nav #user-info ul li a{
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    #first-nav .container .navbar-collapse{
        margin:0;
    }
    #first-nav .container .navbar-collapse .navbar-nav{
        margin:0;
    }
    #first-nav #user-info a{
        padding-top: 14px;
        padding-bottom: 14px;
    }
}
@media screen and (max-width: 520px) {
    #first-nav{
        height:113px;
    }
    #first-nav .nav.navbar-nav.pull-left{
        float: none!important;
        display: inline-block;
        width: 49%;
    }
    #first-nav .nav.navbar-nav.pull-right{
        float: none!important;
        display: inline-block;
        width: 49%;
    }
    .addthis_inline_share_toolbox{
        float: right;
    }
    #first-nav ul.nav.navbar-nav.pull-right{
        float: none!important;
        display: block;
        margin:0 auto;
        width:230px;
    }
}


.page-title h1{
    text-align:center;
    margin:10px 0 30px;
}
